In [33]:
import pandas as pd
import sqlite3

In [34]:
conn = sqlite3.connect("movies.sqlite")
cursor = conn.cursor()

In [35]:
query = """
SELECT *
from movies
"""

In [36]:
df = pd.read_sql_query(query, conn)

In [37]:
df

,index,movie_id,titleType,movie_title,genres
0,0,1,short,Carmencita (1894),"Documentary,Short"
1,1,2,short,Le clown et ses chiens (1892),"Animation,Short"
2,2,3,short,Pauvre Pierrot (1892),"Animation,Comedy,Romance"
3,3,4,short,Un bon bock (1892),"Animation,Short"
4,4,5,short,Blacksmith Scene (1893),"Comedy,Short"
...,...,...,...,...,...
1544142,1544142,9916730,movie,6 Gunn (2017),\N
1544143,1544143,9916754,movie,Chico Albuquerque - Revelações (2013),Documentary
1544144,1544144,9916756,short,Pretty Pretty Black Girl (2019),Short
1544145,1544145,9916764,short,38 (2018),Short
1544146,1544146,9916856,short,The Wind (2015),Short

In [41]:
df = df.drop(columns = 'index')

In [42]:

df

,movie_id,titleType,movie_title,genres
0,1,short,Carmencita (1894),"Documentary,Short"
1,2,short,Le clown et ses chiens (1892),"Animation,Short"
2,3,short,Pauvre Pierrot (1892),"Animation,Comedy,Romance"
3,4,short,Un bon bock (1892),"Animation,Short"
4,5,short,Blacksmith Scene (1893),"Comedy,Short"
...,...,...,...,...
1544142,9916730,movie,6 Gunn (2017),\N
1544143,9916754,movie,Chico Albuquerque - Revelações (2013),Documentary
1544144,9916756,short,Pretty Pretty Black Girl (2019),Short
1544145,9916764,short,38 (2018),Short
1544146,9916856,short,The Wind (2015),Short

In [43]:
df.to_sql("movies", conn, if_exists="replace", index = False)

1544147

In [44]:
conn.close()